@font-face {
  font-family: 'miFuente';
  src: url(../fuentes/LibreCaslonDisplay-Regular.ttf);
}

@font-face {
  font-family: 'miFuente2';
  src: url(../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: 'miFuente3';
  src: url(../fuentes/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'miFuente4';
  src: url(../fuentes/FasterOne-Regular.ttf);
}

@font-face {
  font-family: 'miFuente5';
  src: url(../fuentes/Girassol-Regular.ttf);
}

@font-face {
  font-family: 'miFuente6';
  src: url(../fuentes/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: 'miFuente7';
  src: url(../fuentes/Italianno-Regular.ttf);
}

@font-face {
  font-family: 'miFuente8';
  src: url(../fuentes/OleoScript-Regular.ttf);
}

@font-face {
  font-family: 'miFuente9';
  src: url(../fuentes/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: 'miFuente10';
  src: url(../fuentes/Forum-Regular.ttf);
}

@font-face {
  font-family: 'miFuente11';
  src: url(../fuentes/Ramaraja-Regular.ttf);
}

@font-face {
  font-family: 'miFuente12';
  src: url(../fuentes/Playball-Regular.ttf);
}
@font-face {
  font-family: 'miFuente13';
  src: url(../fuentes/Tangerine-Bold.ttf);
}
@font-face {
  font-family: 'miFuente14';
  src: url(../fuentes/Arapey-Italic.ttf);
}
body {
  background-color: ;
}

/* Apartado (1) Aplicando Estilos al Boton de la Barra  */
#Menu-Barra .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 2rem;
  line-height: 1;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0;
}

#Menu-Barra .Boton-Menu::before {
  content: "\f1ad";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/* Aplicando estilos al logo */

.logoPrincipal {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem !important;
}


/* aplicando Estilos a los Enlaces de la barra */
.navbar-dark .navbar-nav .nav-link {
  color: aliceblue;
  padding: .8rem .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .3rem;
  transition: all .1s ease;
  /* font-family: fantasy; */
  font-family: 'miFuente';
  font-size: 1.2rem;
}


/* estados hover de los enlaces  */
.navbar-dark .navbar-nav .nav-link:hover {
  background:#8a0443;
  opacity: 100%;
  

}

.navbar-dark .navbar-nav .nav-link:hover:after {
  transform: rotateZ(135deg);
}

.navbar-nav .nav-link {
  color: #ffff !important;
}

/* estado active de los enlaces */
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;

}

/* preparando el estilo del boton  */
.BOTON {
  margin-top: -.4rem;
  vertical-align: initial !important;
  margin-bottom: -1rem;

}

.bg-primary {
  background-color: #8a0443 !important;
}

.text-primary {
  color: #8a0443 !important;
}

/*Estilos btn-primary*/
.btn-primaryy {
  color: #fff;
  width: 25rem;
  margin-left: 8.7rem;
  background-color: #8a0443;
  border: double thistle;


  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-primary {
  color: #fff;
  background-color: #8a0443;
  border: double thistle;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: 'miFuente';
  font-size: 1.2rem;
}


.btn-primary:hover {
  color: #35363c;
  background-color: #fff;
  border-color: #8a0443;
}

.btn-primary:active {
  color: #35363c !important;
  background-color: #8a0443 !important;
  border-color: #8a0443 !important;
}

.btn-primary:focus {
  color: #35363c !important;
  -webkit-box-shadow: 0 0 0 0.2rem #8a0443 !important;
  box-shadow: 0 0 0 0.2rem #8a0443 !important;
}

/*Insertamos la fecha del boton principal*/
.btn-primary:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f138";
  position: relative;
  left: .6rem;
  top: .1rem;
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
}

.btn-primary:hover:after,
.btn-primary:focus:after,
.btn-primary:active:after {
  left: .25rem;
}

/*Insertamos la caja blanca del boton principal*/
.btn-primary:before {
  content: "";
  z-index: -1;
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: skew(45deg, 0);
  transform: skew(45deg, 0);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary:active:before {
  width: 130%;
  left: -15%;
}

/* boton primaryy */
.btn-primaryy:hover {
  color: #35363c;
  background-color: #fff;
  border-color: #8a0443;
}

.btn-primaryy:active {
  color: #35363c !important;
  background-color: #8a0443 !important;
  border-color: #8a0443 !important;
}

.btn-primaryy:focus {
  color: #35363c !important;
  -webkit-box-shadow: 0 0 0 0.2rem #8a0443 !important;
  box-shadow: 0 0 0 0.2rem #8a0443 !important;
}

/*Insertamos la fecha del boton principal*/
.btn-primaryy:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f138";
  position: relative;
  left: .6rem;
  top: .1rem;
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
}

.btn-primaryy:hover:after,
.btn-primaryy:focus:after,
.btn-primaryy:active:after {
  left: .25rem;
}

/*Insertamos la caja blanca del boton principal*/
.btn-primaryy:before {
  content: "";
  z-index: -1;
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: skew(45deg, 0);
  transform: skew(45deg, 0);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btn-primaryy:hover:before,
.btn-primaryy:focus:before,
.btn-primaryy:active:before {
  width: 130%;
  left: -15%;
}

/* Apartado (2)  Iniciamos con Estilo del Slider  */


.swiper-slide {
  text-align: center;
  height: 35rem !important;
  background-size: cover;
  background-position: center center;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.247);
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #8a0443 !important;
}

.Letras-Grandes-Parte-1 {
  margin-top: 10rem;
  font-size: 5.1rem !important;
  font-family: 'mifuente2';
  color: rgba(255, 255, 255, 0.87);
}

.Letras-Pequeñas-Parte-1 {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem !important;
}

.Letras-Grandes-Parte-2 {
  color: rgb(255, 255, 255);
  margin-top: 8rem;
  font-size: 3.3rem;
  font-family: 'mifuente3';
}

.Letras-Pequeñas-Parte-2 {
  color: #ffffff;
  font-family: 'mifuente12';
  font-size: 2rem !important;
}

.Letras-Grandes-Parte-3 {
  color: rgb(255, 255, 255);
  margin-top: 6.1rem;
  font-size: 8rem !important;
  font-family: 'KurriIslandItaPERSONAL-Black';
}


.Letras-Pequeñas-Parte-3 {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.logoSlider {
  position: relative;
  width: 130px;
  height: 130px;
  top: 6rem;

}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #8a0443 !important;
}


/*  Apartado (3)Tarjeta de Presentacion */
.Tarjeta-Presentacion {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

}

.Foto-Presentacion {
  transition: all 3s;

}

.Foto-Presentacion:hover {
  transform: scale(1.1);
}

#Contenedor-Foto-Presentacion {
  overflow: hidden;
}

.Foto-Presentacion {
  width: 110%;
  height: 100%;
  margin-left: -1rem;
}

.Texto-Titulo {
  font-family:'mifuente1';
  margin-top: -1.5rem;
  text-align: center;
  font-size: 3rem;
}



.Texto-Sub-Titulo {
  text-align: center;
  margin-top: -0.5rem !important;
  font-family: 'mifuente1';
}
.Parrafo {
  font-family: 'EB Garamond', serif;
  align-items: center;
  font-family: 'mifuente0';
}

/* Seccion sobre nosotros */
.sabias-que {
  font-family: 'mifuente7';
  font-size: 2.5rem;
}

.titulo6-SobreNosotros {
  color: rgb(90, 88, 88);
  font-size: 1.3rem;
  font-family: 'mifuente12';
}

.tituloSobreNosotros {
  font-family: 'mifuente6';
  font-size: 45px;
}

#añosExp {
  color: green;

}

#edificios {
  color: green;
}

#premiosObtenidos {
  color: green;
}

#recomendacion {
  color: green;
}

h2,
.h2 {
  font-size: 2rem;
  font-family: 'mifuente';
}

/* Seccion Reconocimiento  */
.texto-Reconocimiento {
  color: black;
  text-align: center;
  margin-bottom: -7rem;
  font-size: 28px;
  font-family: 'mifuente8';
}

.lts_pst h2 {
  color: #24020d;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'mifuente5' !important;
  margin-top: 1rem;
}

.hover_effect_btn a span {
  font-size: 12px;
  font-family: lato;
  background: none 0 0 repeat scroll #fff;
  border: #666666 solid 1px;
  border-radius: 6px;
  color: #666666;
  display: block;
  padding: 15px 20px;
  transition: transform 0.3s;
}





/* Seccion de Ayuda  */
.Contenedor-Ayuda {
  border: solid .1rem;
  margin-left: -7.5rem;
  margin-right: -7.4rem;
  height: 30rem;
  position: relative;
  transform: skew(0, -3deg);
  background-position: top;
  margin-top: 8.5rem;
}

.Contenedor-Ayuda::before {
  content: "";

  position: absolute;
  background: rgba(0, 0, 0, 0.267);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skew(0, -3eg);

}

.Fondo-Imagen {

  width: 100%;
  height: 100%;
  background-position: cover;

}

.Texto-Ayuda {
  font-family: 'mifuente5' !important;
  font-size: 5rem !important;
  color: rgba(255, 255, 255, 0.911);
  margin-top: 8.5rem;
  position: relative;
  transform: skew(0, 3deg);
  animation-delay: 5s;

}

.Parrafo-Ayuda {
  font-family: 'mifuente2';
  font-size: 1.2rem !important;
  color: rgba(255, 255, 255, 0.753);
  position: relative;
  transform: skew(0, 3deg);
}

/* Boton Ayuda  */


.btn-secondary {
  position: relative;
  transform: skew(0, 3deg);
  color: #fff;
  background-color: green;
  border: double thistle;

  font-family: 'mifuente10';
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-secondary:hover {
  color: #35363c;
  background-color: #fff;
  border-color: green;
}

.btn-secondary:active {
  color: #35363c !important;
  background-color: green !important;
  border-color: green !important;
}

.btn-secondary:focus {
  color: #35363c !important;
  -webkit-box-shadow: 0 0 0 0.2rem #8a0443 !important;
  box-shadow: 0 0 0 0.2rem #8a0443 !important;
}

/*Insertamos la fecha del boton principal*/
.btn-secondary::before {
  font-family: 'Font Awesome 5 brands';
  font-size: 1.2rem;
  font-weight: 900;
  content: "\f232";
  position: relative;
  left: -.6rem;
  top: .1rem;
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
}

.btn-secondary:hover::before,
.btn-secondary:focus:before,
.btn-secondary:active:before {
  left: -.10rem;
}

/*Insertamos la caja blanca del boton principal*/

.btn-secondary:after {
  content: "";
  z-index: -1;
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: skew(45deg, 0);
  transform: skew(45deg, 0);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btn-secondary:hover:after,
.btn-secondary:focus:after,
.btn-secondary:active:after {
  width: 130%;
  left: -15%;
}


/*-----------------------------------------
  ESTILOS PARA NUESTRO EQUIPO
------------------------------------------*/
.tarjetaPresentacion {
  position: relative;
  top: 1rem;

}

.tituloNuestroTeam {
  font-size: 2.5rem;
  font-family: 'mifuente12';

}

.nombreTarjeta {
  font-size: 1.1rem;
  font-family: 'mifuente3';
  text-align: center;

  margin-top: 0.5rem;
}

.cargoTarjeta {
  color: #0080FF;
  font-family: 'mifuente2';
  font-size: 13px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}

.empleado {

  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transition: 0.7s ease;

}

.tarjetaPresentacionBlanca {

  width: 12rem;
  height: 12rem;

  background-color: rgb(0, 131, 44);
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transition: 0.7s ease;

}

.proveedor {
  position: relative;
  top: -4.8rem;
}

.my-1 {
  margin-bottom: -4rem !important;
}

.TarjetaProveedor {

  width: 12rem;
  height: 20rem;

  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transition: 0.7s ease;
}

.TarjetaProveedor:hover {
  transform: rotateY(180deg);
}

.empleado:hover {
  transform: rotateY(180deg);

}


.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  border: 2px solid #3c3333;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.75);
box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.75);
}

.atras {
  transform: rotateY(180deg);

}

/* Imagenes de las tarjetas */
.card1 {
  background-image: url(../img/Empleados/empleado3.3.3.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card2 {
  background-image: url(../img/Empleados/Empleado_3.3.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card3 {
  background-image: url(../img/Empleados/Empleado_2.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card4 {
  background-image: url(../img/Empleados/Empleado_2.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card5 {
  background-image: url(../img/Empleados/Empleado_4.4.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card6 {
  background-image: url(../img/Empleados/Empleado_4.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card7 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card8 {
  background-image: url(../img/Empleados/Empleado_5.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card9 {
  background-image: url(../img/Empleados/Empleado_6.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card10 {
  background-image: url(../img/Empleados/Empleado_6.jpg);
  background-size: cover;
  border-radius: 50%;
}

.card1 {
  background-image: url(../img/Empleados/empleado3.3.3.jpg);
  background-size: cover;
  border-radius: 50%;
}

.tarjetaProveedor1 {
  background-image: url(../img/Empleados/Empleado_3.3.jpg);
  background-size: cover;

}

.tarjetaProveedor2 {
  background-image: url(../img/Empleados/Empleado_2.jpg);
  background-size: cover;

}

.tarjetaProveedor3 {
  background-image: url(../img/Empleados/Empleado_2.jpg);
  background-size: cover;

}

.tarjetaProveedor4 {
  background-image: url(../img/Empleados/Empleado_4.4.jpg);
  background-size: cover;

}

.tarjetaProveedor5 {
  background-image: url(../img/Empleados/Empleado_4.jpg);
  background-size: cover;

}

.tarjetaProveedor6 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;

}

.tarjetaProveedor7 {
  background-image: url(../img/Empleados/Empleado_5.jpg);
  background-size: cover;

}

.tarjetaProveedor8 {
  background-image: url(../img/Empleados/Empleado_6.jpg);
  background-size: cover;

}

.ctarjetaProveedor9 {
  background-image: url(../img/Empleados/Empleado_6.jpg);
  background-size: cover;

}

.ctarjetaProveedor14 {
  background-image: url(../img/Logros/LIBRO.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;
  margin-left: -8rem;

}

.ctarjetaProveedor11 {
  background-image: url(../img/Logros/evento3.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;

  margin-left: -8rem;
}

.ctarjetaProveedor12 {
  background-image: url(../img/Logros/COMIT.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;
  margin-left: -1.8rem;
  -webkit-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);

}


.ctarjetaProveedor13 {
  background-image: url(../img/Logros/camaraAdministradores.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;
  margin-left: -1.8rem;
  -webkit-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);


}

.ctarjetaProveedor10 {
  background-image: url(../img/Logros/mejorAdministradodelmundo.jpg);
  background-size: cover;
  background-position: center top;
  width: 22rem;
  margin-left: -1.8rem;
  -webkit-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
}

.ctarjetaProveedor15 {
  background-image: url(../img/Logros/COMIT.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;
  margin-left: -8rem;
}


.owl-theme .owl-dots .owl-dot span {
  width: 30px !important;
  height: 10px !important;
  margin: 5px 7px !important;
  background: #363636 !important;
  display: block !important;
  -webkit-backface-visibility: visible !important;

  border-radius: 30px !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0080FF !important;
  width: 30px !important;
  height: 10px !important;
}

.tarjetaPresentacion .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  margin-left: 52%;
  margin-top: -24%;
  font-size: 60px !important;
  color: #0080FF !important;
}

.tarjetaPresentacion .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  margin-left: -52%;
  margin-top: -24%;
  color: #0080FF !important;
  font-size: 60px !important;
}

.tarjetaPresentacion .owl-carousel .owl-nav button.owl-next:hover {
  background: transparent;
}

.tarjetaPresentacion .owl-carousel .owl-nav button.owl-prev:hover {
  background: transparent;
}

/*-----------------------------------------
  ESTILOS PARA SERVICIOS
------------------------------------------*/
.TarjetaProveedor a {
  position: absolute;
  justify-items: center;
  justify-content: center;
  top: 7rem;
  transform: skew(1deg);
  width: 100%;
}

/*-----------------------------------------
  ESTILOS PARA RESEÑAS PROVEEDORES
------------------------------------------*/

.cerrarformulario{
  display: block;
}
#cerrar{
  margin-left: 14.4rem;
  /* margin-top: .6rem; */
  justify-content: center;
  justify-items: center;
  color: black;
  background: white;
  margin-bottom: .9rem;
  margin-top: 0.5rem;
}
.titulowsp{
 
}
#tituloWts {
  color: white;
  margin-left: 0.2rem;
  margin-top: .6rem;
  font-family: 'mifuente';
  position: absolute;
  top: 0.1rem;
}
.botonWtsx{
 
}

#enviarra::before{
  content: "\f1d8";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ffff;
  margin-left: -.2rem;
 position: relative;
 transform: translate(-50px) !important;
}
#enviarra{
  width: 10%;
  height:10% ;
  position: relative;
  top: -2.1rem;
  border-radius: 50%;
  background-color:#0080FF; 
  top: -3.1rem;
}


#whatsapp{
 
  background-color: rgb(3, 87, 3);
  /* left: 19rem; */
  position: absolute;
  left: -.00rem;
  width: 20rem;
  height: 3rem;
  top: -1rem;

}
.textoinvitado1{
  clip-path: polygon(0% 0%, 3% 10%, 3% 100%, 100% 100%, 100% 0);
  background-color: white;
  margin-top:2rem;
 font-family:arial;
  font-size:1rem;
  padding: 9px 3px;

}
.textoinvitado1:before{
  content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    
  position: relative;
  left:17rem;
  font-size:.7rem;
  color: #00AFF0;
  
 
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
}
.textoinvitado1::after{

  content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    
  position: relative;
  left:5.1rem;
  font-size:.7rem;
  color: #00AFF0;
  
 
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
}
.textoinvitado2{
  font-family:arial;
  clip-path: polygon(0% 0%, 3% 10%, 3% 100%, 100% 100%, 100% 0);
  background-color: white;
  margin-top:0.4rem;
  padding: 9px 3px;
  font-size:1rem;
  padding-left: 1rem;

  
}
.card-imgg{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  
}
.card-pintor{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/CarlosLizarrag.jpg");
  background-size: cover;
}
.card-electricista{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Gustavo\ \ Medina\ Electricista.jpg");
  background-size: cover;
}
.card-plomero{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Walter\ Ponce\ de\ Leon\ Sanitarista\ de\ edificios.jpg");
  background-size: cover;
}
.card-gasista{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Walter\ Trayan.jpg");
  background-size: cover;
}
.card-cerrajero1{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Luciano\ Diaz\ cerrajero.jpg");
  background-size: cover;
}
.card-cerrajero2{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Diego\ Diaz\ cerrajero.jpg");
  background-size: cover;
}
.card-fumigador{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Justo\ Barrionuevo\ fumigador.jpg");
  background-size: cover;
}
.card-tecnicoPortero{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Eduardo\ Aguirre\ Tecnico\ de\ portero\ electricos.jpg");
  background-size: cover;
}
.card-herrero{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Emilio\ Morales\ -\ Herrero.jpg");
  background-size: cover;
}
.card-ascensor{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Javier\ Lemos\ Tecnico\ en\ ascensores..jpg");
  background-size: cover;
}
.card-electricistaing{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-image: url("/img/Cara_de_Proveedores/Marcos\ Martellotta\ Ing.\ Electrico.jpg");
  background-size: cover;
}
.form-wts{
  width: 320px;
  height: 380px;
  background:white;
  position: fixed;
margin-right: 30rem;
  bottom: 80px;
  right: 50px;
  box-shadow: 0 2px 20px 0 rgba(0,0, 0, 0.22);
border-radius: 5px;
padding: 10px;
display: none;
bottom: 10rem;
left:32rem;
z-index: 1000;
background-image: url(../img/fondoWhatsapp.jpg);
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}


.entrarsalir{
  display: block;
}
.inputwts{
  width: 15rem;
  padding: 5px;
  color:#665;
  box-sizing: border-box;
  border-radius: 5%;
  box-shadow: 0 2px 20px 0 rgba(45, 243, 19, 0.19);
  margin-left: 3rem;
  background-color: #e1fec6;
  clip-path: polygon(100% 0%, 92% 14%, 92% 100%, 0 100%, 0% 0%);
  border: solid 0px;

}
.textareawts{
width: 100%;
  padding: 20px;
  color:#665;
  box-sizing: border-box;
  height: 100px;
  width: 84%;
  border-radius: 5px;
  box-shadow: 0 2px 20px 0 rgba(0,0, 0, 0.19);
  margin-left: .7rem;
}

detalle-rectangulo .proveedor {
  position: relative;
  margin-top: -5rem;
  font-size: 1.2rem;
  color: rgba(42, 104, 75, 0.753);

  font-family: 'mifuente3';
}

.proveedor {
  position: relative;
  top: -4.8rem;
  font-family: 'mifuente3';
}

/*.proveedor::after{
content: "";
width: 10rem;
height: .8rem;
background-color: #45e19f;
position: absolute;
bottom: -2rem;
left: 50%;
transform: translateX(-50%);
border-radius: 2rem;
margin-bottom: 1.3rem;
}*/

.heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
  font-family: 'mifuente4';
}

.heading::after {
  content: "";
  width: 12rem;
  height: 1.2rem;
  background-color: #45e19f;
  position: absolute;
  bottom: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;

}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  width: 14rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Sombra de fondo en la card*/
  /* box-shadow:.5rem .5rem 3rem rgba(0, 0, 0, 0.2); */
}

.card .card-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);


}

.profile-img {
  width: 10rem !important;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-top: -4.8rem;
  z-index: 999;
  border: 2px solid #f3f3f3;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */

}

.card h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 0.5rem 0;
  font-family: 'mifuente3';
}

.job-title {
  color: #777;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'mifuente2';
}

.about {
  font-size: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: -0.8rem;

}

.card .btn {
  padding: 0.8rem 2.5rem;
  background-color: green;
  border-radius: 2rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 0.8rem;
  transition: all .5s;
  margin-top: -0.8rem;
  font-family: 'mifuente10';
}

.card .btn:hover {
  transform: translate(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}

.card .btn:active {
  transform: translate(0);
  box-shadow: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0080FF !important;
  width: 30px !important;
  height: 10px !important;
}

/*-----------------------------------------
  Contactanos
------------------------------------------*/
.texto-titulo {
  font-family: 'mifuente12' !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'mifuente10';
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-family: 'mifuente10';
}

.contacto-titulo {
  font-family: 'mifuente10';
}

.contacto-parrafo {
  font-family: 'mifuente10';
}

.texto-contactanos {
  color: #f3f3f3;
  font-family: 'EB Garamond', serif !important;
}

.texto-parrafo {
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}



.bg-warning {

  background-color: #8a0443 !important;
}



#contacto .detalle-rectangulo {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #8a0443 !important;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) rotate(45deg);

}

.pb-5,
.py-5 {
  padding-bottom: 5rem !important;
}

.pt-5,
.py-5 {
  padding-top: 5rem !important;
}


.fa-globe:before {
  content: "\f0ac";
  color: #045199;

}

.fa-whatsapp:before {
  content: "\f232";
  color: #058810;

}

.fa-envelope:before {
  content: "\f0e0";
  color: #025d5d;
}

.fa-instagram:before {
  content: "\f16d";
  color: #791553;
}



/*-----------------------------------------
 Map
------------------------------------------*/
.map-texto {
  color: rgb(206, 193, 206);
  font-family: 'EB Garamond', serif !important;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.map-texto {
  color: rgb(206, 193, 206);
  font-family: 'mifuente5';
  margin-bottom: -1rem;
}

/*-----------------------------------------
 FOOTER
------------------------------------------*/

.ft ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.ft ul li {
  list-style: none outside none;
  padding-right: 10px;
  display: inline;
}

.ft ul li a {
  border: #818181 solid 1px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 auto;
  padding: 7px 11px;
  text-align: center;
  margin-top: 3rem;
}

.ft ul li a i {
  color: #363636;
  font-size: 15px;
  transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s
}

.ft ul li a i:hover {
  color: #00AFF0;
  transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s
}

.ft ul li .fa-facebook {
  padding: 3px;
}

#ltd_map_sec {
  background: none 0 0 repeat scroll #363636;
  text-align: center;
}

#ft_sec {
  padding: px 0;
}

.copy_right {
  margin: 0;
  padding: 0;
}

.copy_right li {

  font-size: 14px;
  font-weight: 600;
  list-style: none outside none;
  padding: 2px;
  text-align: center;
  color: #818181;
  text-transform: uppercase;
}

.copy_right {
  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.map i {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-left: 15px;
}





.lts_pst>img {
  width: 100%;
}



.lts_pst p {
  color: #333233;
  font-family: 'mifuente122' !important;
  font-size: 16px;
}

.lts_pst a {
  border-bottom: 1px solid #333333;
  color: #333333;
  font-family: lato;
  text-transform: capitalize;
}

.lts_pst a:hover {
  border-bottom: 1px solid #00AFF0;
}





.post_btn {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding-top: -2px;
}

.post_btn a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

.hover_effect_btn {
  position: relative;
  z-index: 1;
}

.hover_effect_btn a {
  overflow: hidden;
  margin: 0 15px;
}

.hover_effect_btn a span {
  font-size: 12px;
  font-family: lato;
  background: none 0 0 repeat scroll #fff;
  border: #666666 solid 1px;
  border-radius: 6px;
  color: #666666;
  display: block;
  padding: 15px 20px;
  transition: transform 0.3s;
}

.hover_effect_btn a::before {
  background: none 0 0 repeat scroll #00AFF0;
  color: #fff;
  height: 100%;
  left: 0;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  transition: transform 0.3s 0s ease;
  width: 100%;
  z-index: -1;
  font-size: 12px;
  font-family: lato;
  border: #666666 solid 1px;
  border-radius: 6px;
}

.hover_effect_btn a:hover span,
.hover_effect_btn a:focus span {
  transform: translateX(100%);
}

.hover_effect_btn a:hover::before,
.hover_effect_btn a:focus::before {
  transform: translateX(0%);
}


a:not([href]):not([tabindex]) {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding-top: -2px;


}












/* media query  */


@media screen and (max-width:375px) {
  .navbar-dark .navbar-nav .nav-link::after {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  /* Reconocimiento asociados a nuestro consorcio */
  .ctarjetaProveedor10 {
    margin-left: -0.8rem !important; 
}
.ctarjetaProveedor13 {
  margin-left: -0.8rem !important; 
}
.ctarjetaProveedor12 {
  margin-left: -0.8rem !important; 
}

/* Nuestros Integrantes */
.card1 {
  margin-left: 5.0rem !important;
}

.tarjetaPresentacion .owl-carousel .owl-nav button.owl-next {
  position: relative;
  margin-left: 52%;
  margin-top: -24%;
  font-size: 60px !important;
  color: #0080FF !important;
  margin-left: 8.1rem !important;
  margin-top: -6.2rem !important;
}
.titulo6-SobreNosotros {

  font-size: 1.3rem !important;
  margin-bottom: 4rem !important;
}
.pt-5, .py-5 {
  padding-top: 0rem !important;
}

.ctarjetaProveedor10 {
  margin-left: -1.2rem!important;
}
.ctarjetaProveedor13 {
  margin-left: -1.2rem!important;
}

.ctarjetaProveedor12 {
  margin-left: -1.2rem!important;
}
}
@media screen and (max-width:800px) {

  /* Seccion Slider  */
  .logos {
    margin-left: .1rem;
  }

  .Letras-Grandes-Parte-1 {
    font-size: 1.7rem !important;
  }

  .Letras-Pequeñas-Parte-1 {
    font-size: .7rem !important;
  }

  .Letras-Grandes-Parte-2 {
    font-size: 2rem !important;
  }

  .Letras-Pequeñas-Parte-2 {
    font-size: 1rem !important;
  }

  .Letras-Grandes-Parte-3 {
    font-size: 6rem;
    margin-top: 10rem !important;
    font-size: 2.5rem !important;
  }

  .logoSlider {
    width: 150px !important;
    height: 100px;
    top: 8rem !important;
  }
  .tituloSobreNosotros {
    font-family: 'mifuente6';
    font-size: 15px;
}

.sabias-que {
  font-family: 'mifuente7';
  font-size: 1.5rem;
}

.titulo6-SobreNosotros {
  color: rgb(90, 88, 88);
  font-size: .8rem;
  font-family: 'mifuente12';
}

.Texto-Titulo {
  margin-top: 2rem;
  font-family: Georgia;
  font-size: 3.1rem;
  font-family: 'mifuente11';
  top: 1rem !important;
}
.Texto-Sub-Titulo {
  font-family: 'mifuente1';
  margin-top: -1.5rem;
  text-align: center;
}
.Parrafo {
  font-family: 'mifuente3';
  text-align: center;
}

  .Letras-Pequeñas-Parte-3 {
    font-size: 1.4rem !important;
    margin-top: 0;
  }

  .ctarjetaProveedor10 {
    background-image: url(../img/Logros/mejorAdministradodelmundo.jpg);
    background-size: cover;
    background-position: center top;
    width: 22rem;
    margin-left: -1.8rem;
    -webkit-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
    margin-left: 0.2rem;
    margin-top: 1rem;
    
}

.ctarjetaProveedor11 {
  margin-left: -10rem!important;
  margin-top: 1.5rem !important;
}
.ctarjetaProveedor15 {
  margin-left: -10rem!important;
  margin-top: 1.5rem !important;
}
.ctarjetaProveedor14 {
  margin-left: -10rem!important;
  margin-top: 1.5rem !important;
}
.ctarjetaProveedor13 {
  background-image: url(../img/Logros/camaraAdministradores.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;
  margin-left: -1.8rem;
  -webkit-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  /* text-align: center; */
  margin-left: .2rem;
  margin-top: 1rem;

}

.ctarjetaProveedor12 {
  background-image: url(../img/Logros/COMIT.jpg);
  background-size: cover;
  background-position: center center;
  width: 22rem;
  margin-left: -1.8rem;
  -webkit-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -7px 29px -9px rgba(0, 0, 0, 0.75);
  margin-left: .2rem;
  margin-top: 1rem;
}

.lts_pst h2 {
  color: #24020d;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'mifuente5' !important;
  margin-top: 2rem !important;
  text-align: center;
}

.Foto-Presentacion {
    width: 110%;
    height: 100%;
    margin-left: -0.9rem;
}

  .logoSlider {
    width: 100px;
    height: 100px;
    top: 0;
  }

  /* Seccion Tarjeta de Presentacion  */
  .Foto-Presentacion {
    width: 115%;
  }

  .Contenedor-Ayuda {

    background-position: top;
  }

  .Texto-Ayuda {
    font-size: 3.5rem !important;
  }

  .Parrafo-Ayuda {
    font-size: .9rem !important;

  }

  .lts_pst h2 {
    color: #24020d;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'mifuente5' !important;
    margin-top: 1rem;
    text-align: center;
}
.lts_pst p {
  color: #333233;
  font-family: 'mifuente122' !important;
  font-size: 16px;
  text-align: center;
}

.tarjetaPresentacion .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  margin-left: 30%;
  margin-top: -24%;
  font-size: 60px !important;
  color: #0080FF !important;
 
}
.tarjetaPresentacion .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  margin-left: -150px;
  margin-top: -99px;
  color: #0080FF !important;
  font-size: 60px !important;
}
.card9 {
  background-image: url(../img/Empleados/Empleado_6.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: 5.8rem;
}
.card1 {
  background-image: url(../img/Empleados/empleado3.3.3.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: 5.8rem;
}
.card2 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: -5.8rem;
}
.card4 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: -5.8rem;
}

.card3 {
  background-image: url(../img/Empleados/Empleado_2.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: 5.8rem;
}

.card7 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: 5.8rem;
}
.card8 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: -5.8rem;
}
.card10 {
  background-image: url(../img/Empleados/Empleado.5.5.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-left: -5.8rem;
}


.Contenedor-Ayuda {
  border: solid .1rem;
   margin-left: -0.9rem; 
   margin-right: -0.9rem; 
  height: 30rem;
  position: relative;
  transform: skew(0, -3deg);
  background-position: top;
  margin-top: 8.5rem;
}
.btn-primaryy {
  color: #fff;
  width: 22rem;
  margin-left: 8.7rem;
  background-color: #8a0443;
  border: double thistle;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: -0.2rem;
}

.texto-contactanos {
  color: #f3f3f3;
  font-family: 'EB Garamond', serif !important;
  font-size: 3rem;
}
.form-wts {
  /* left: 1.8rem!important; */
  top: 0 !important;
left: 0!important;
right: 0!important;
bottom: 0!important;
margin: auto!important;
}
}